/* Class overwrites tag 
tag
  .class 
     #id
       !important (override any style)
tag.class -- chaining (AND)
.class tag -- nested (WITHIN)
tag, .class {(Both)}
*/

h1 {
    font-family: Verdana, sans-serif;
    font-size: 32px;
    color: white;

/*    text-align: left;*/
    
}

img {
    padding: 15px 15px 15px 15px;

}

.title_pic{
    position: static;
    padding: 5px 5px 5px 5px;
    width: 150px;
}

.title_box {
    position: absolute;
    background: #666;
    left: 160px;
    top: 12px;
    width: 100%;
}

.title_text {
    background: #666;
    position: relative;
    left: 10px;
    text-align: left;
}

.navbar{
    position: relative;
    height: 62px;
    width: 100%;
    left: 10px;
    background-color: #666;
    overflow: visible;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}



.center {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 5px;
}

h2 {
  font-family: "Verdana", sans-serif;
  font-size: 24px;
  text-align: center;
} 

h3 h4 h5 h6{
  font-family: "Verdana", sans-serif;
  font-size: 18px;
} 

.body-content {
    margin: 5px;
    line-height: 1.5;
}

.text {
    font-size: 15px;
    font-family: "Verdana", sans-serif;

}

li {
    text-align: left;
    padding: 3px;
    font-size: 15px;
    font-family: "Verdana", sans-serif;
}


pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #333;
    color: #333;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6; 
    max-width: 100%;
    word-wrap: break-word;
    display: block;
    overflow: auto; /*Scroll bar*/
    margin-bottom: 10px; /*Distance between box and next text*/
}




button {
    overflow: hidden;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    background-color: inherit
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: visible;
    z-index: 1;

}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn2 {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: red;
}

.navbar a:hover,
.dropdown:hover .dropbtn2,
.dropbtn2:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content2 a {
    float: none;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover, .dropdown-content2 a:hover  {
    background-color: #ddd;
}

.show {
    display: block;
}

.date {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}



